# Ignore the test binary
*_test
build/

# Ignore backup and temporary files
*~
*.swp
*.swo

# Ignore editor-specific files
.vscode/
.idea/
*.code-workspace

# Project-specificfiles
*.err
*.log
*.bak

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app